@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

@layer base{
  @font-face {
    font-family: 'Avnir';
    font-weight: 900;
    src: local('Avnir'), url(../../public/assets/fonts/AvenirLTStd-Black.otf) format('opentype');
  }

  @font-face {
      font-family: 'Avnir';
      font-weight: 500;
      src: local('Avnir'), url(../../public/assets/fonts/AvenirLTStd-Book.otf) format('opentype');
  }

  @font-face {
      font-family: 'Avnir';
      src: local('Avnir'), url(../../public/assets/fonts/AvenirLTStd-Roman.otf) format('opentype');
  }
}
.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}


input{
  border-radius:4px;
}


body{
    font-family: "Avnir";
    padding:0px;
    margin:0px;
    @apply bg-background;
}
